header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    background-color: #eaeaea;
    border-bottom: 1px solid #999999;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    .logo,.contact {
        a {
            display: block;
            margin-top: 15px;
            font-size: 50px;
        }
    }
    .contact {
        padding-right: 27px;
    }
    .menu-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 27px;
        .menu-line {
            height: 2px;
            background-color: #000000;
        }
        .menu-line-1 {
            width: 40px;
        }
        .menu-line-2 {
            width: 25px;
            margin-top: 5px;
        }
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    &.open {
        height: 100vh;
        background-color: #000000;
        opacity: 1;
        ul {
            li {
                color: #ffffff;
            }
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    span {
        font-size: 150px;
    }
}