header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    background-color: #eaeaea;
    border-bottom: 1px solid #999999;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    .logo,.contact {
        a {
            display: block;
            margin-top: 15px;
            font-size: 50px;
        }
    }

    .contact {
        padding-right: 27px;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 27px;
        .menu-line {
            height: 2px;
            background-color: #000000;
        }
        .menu-line-1 {
            width: 40px;
            transition: width 0.1s 0.1s linear, transform 0.1s linear;
        }
        .menu-line-2 {
            width: 25px;
            margin-top: 5px;
            transition: width 0.1s 0.1s linear, transform 0.1s linear;
        }
        &.open {
            .menu-line {
                width: 30px;
                transition: width 0.1s linear;
            }
            .menu-line-1 {
                transform: rotate(45deg);
                transition: transform 0.1s 0.1s linear;
            }
            .menu-line-2 {
                margin-top: -2px;
                transform: rotate(-45deg);
                transition: transform 0.1s 0.1s linear;
            }
        }
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 50%;
    position: fixed;
    top: -70%;
    left: 0;
    opacity: 0;
    z-index: 1;
    &.open {
        height: 100vh;
        background-color: #000000;
        border-radius: 0;
        top: 0;
        opacity: 1;
        transition: top 0.3s 0.1s linear, opacity 0.3s linear, border-radius 0.3s 0.1s linear;
        ul {
            li {
                margin-top: 20px;
                a {
                    font-size: 60px;
                    color: #ffffff;
                    transition: color 0.3s 0.8s cubic-bezier(0.47, 0, 0.745, 0.715);
                }
                &:nth-child(1) {
                    margin-top: 0;
                }
            }
        }
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    span {
        font-size: 150px;
    }
}