:root {
    --ease: cubic-bezier(0.29, 0.57, 0.12, 0.99);
    --duration: .6s;
    --size: 800px;
    --scaleMask: 1;
    --scaleBtn: 1;
    
    @media (max-width: 900px) {
      --size: 600px;
      --scaleMask: .75;
      --scaleBtn: .8;
    }
    
    @media (max-width: 700px) {
      --size: 400px;
      --scaleMask: .5;
      --scaleBtn: .7;
    }
    
    @media (max-width: 500px) {
      --size: 300px;
      --scaleMask: .375;
      --scaleBtn: .6;
    }
  }
  
  .carousel {
    position: relative;
    z-index: 1;
    width: var(--size);
    height: var(--size);
    
    svg {
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: rgba(211, 206, 235, 0.3);
      pointer-events: none;
      
      #mask {
        transform: scale(var(--scaleMask));
      }
    }
    
    &--images {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-clip-path: url(#mask);
      clip-path: url(#mask); 
      overflow: hidden;
    }
    
    img {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity var(--duration) var(--ease), transform var(--duration) var(--ease);
      transform: scale(1) translateZ(0);
      opacity: 1;
    }
}