:root {
  --ease: cubic-bezier(0.29, 0.57, 0.12, 0.99);
  --duration: .6s;
  --size: 600px;
  --scaleMask: .75;

  @media (max-width: 1400px) {
    --size: 400px;
    --scaleMask: .5;
  }
  
  @media (max-width: 1100px) {
    --size: 500px;
    --scaleMask: .6;
  }
  
  @media (max-width: 650px) {
    --size: 200px;
    --scaleMask: .255;
  }
}

.about {
  .section1 {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 100px 0 100px;
    box-sizing: border-box;
    .carousel {
      position: relative;
      z-index: 1;
      width: var(--size);
      height: var(--size);
      min-width: var(--size);
      
      svg {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: rgba(211, 206, 235, 0.3);
        pointer-events: none;
        
        #mask {
          transform: scale(var(--scaleMask));
        }
      }
      
      &--images {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-clip-path: url(#mask);
        clip-path: url(#mask); 
        overflow: hidden;
      }
      
      img {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity var(--duration) var(--ease), transform var(--duration) var(--ease);
        transform: scale(1) translateZ(0);
        opacity: 1;
      }
    }
    .greetings {
      span {
        font-size: 23px;
        line-height: 1.5;
        font-weight: 500;
        word-break: keep-all;
      }
    }
  }
  .section2 {
    width: 100%;
    padding: 5% 5% 0 5%;
    position: relative;
    .skillList {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      box-sizing: border-box;
      .motion {
        display: flex;
        gap: 5%;
        overflow: hidden;
        .icon {
          display: flex;
          justify-content: center;
          align-items: center;
          aspect-ratio: 1 / 1;
          padding: 1.5vw;
          border-radius: 20%;
          box-shadow: 4px 4px 4px 4px #d5d5d5, -2px -2px 4px 2px rgba(255, 255, 255, 0.8);
          box-sizing: border-box;
          svg {
            font-size: 5vw;
            width: 5vw;
          }
        }
      }
    }
  }
  .ex {
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 1100px) {
  .about {
    .section1 {
      flex-direction: column;
      gap: 50px;
      .greetings {
        span {
          font-size: 23px;
        }
      }
    }
    .section2 {
      padding: 50px 100px;
    }
  }
}

@media (max-width: 650px) {
  .about {
    .section1 {
      gap: 20px;
      padding: 10%;
      .greetings {
        span {
          font-size: 12px;
        }
      }
    }
    .section2 {
      padding: 0 10%;
    }
  }
}