:root {
  --ease: cubic-bezier(0.29, 0.57, 0.12, 0.99);
  --duration: .6s;
  --size: 600px;
  --scaleMask: .75;

  @media (max-width: 1400px) {
    --size: 400px;
    --scaleMask: .5;
  }
  
  @media (max-width: 1100px) {
    --size: 500px;
    --scaleMask: .6;
  }
  
  @media (max-width: 650px) {
    --size: 200px;
    --scaleMask: .255;
  }
}

.about {
  width: 100%;
  .section1 {
    display: flex;
    align-items: center;
    gap: 100px;
    width: 100%;
    max-width: 1400px;
    height: calc(100vh - 70px);
    margin: 0 auto;
    padding: 100px;
    box-sizing: border-box;
    .carousel {
      position: relative;
      z-index: 1;
      width: var(--size);
      height: var(--size);
      min-width: var(--size);
      
      svg {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: rgba(211, 206, 235, 0.3);
        pointer-events: none;
        
        #mask {
          transform: scale(var(--scaleMask));
        }
      }
      
      &--images {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-clip-path: url(#mask);
        clip-path: url(#mask); 
        overflow: hidden;
      }
      
      img {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity var(--duration) var(--ease), transform var(--duration) var(--ease);
        transform: scale(1) translateZ(0);
        opacity: 1;
      }
    }
    .greetings {
      span {
        font-size: 23px;
        line-height: 1.5;
        font-weight: 500;
        word-break: keep-all;
      }
    }
  }
  .section2 {
    display: flex;
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    .skillLeft {
      flex: 1;
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 70px);
        text-align: center;
        position: sticky;
        top: 70px;
        span {
          font-size: 5vw;
        }
      }
    }
    .skillRight {
      flex: 1;
      .list {
        display: grid;
        grid-column-gap: 1.2em;
        grid-row-gap: 1.2em;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        .listItem {
          width: 100%;
          div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            margin: 0 auto;
            aspect-ratio: 1 / 1;
            padding: 1.5vw;
            border-radius: 20%;
            box-shadow: 4px 4px 4px 4px #d5d5d5, -2px -2px 4px 2px rgba(255, 255, 255, 0.8);
            svg {
              width: 12vw;
              font-size: 12vw;
            }
          }
        }

        .listItem:nth-child(2n) {
          margin-top: 60%;
          margin-bottom: -40%;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .about {
    .section2 {
      max-width: 1400px;
      margin: 0 auto;
      .skillLeft {
        .title {
          span {
            font-size: 80px;
          }
        }
      }
      .skillRight {
        .list {
          .listItem {
            div {
              width: 50%;
              padding: 50px;
              svg {
                width: 150px;
                font-size: 150px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .about {
    .section1 {
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      .greetings {
        span {
          font-size: 23px;
        }
      }
    }
    .section2 {
      flex-direction: column;
      gap: 150px;
      width: 80%;
      padding-bottom: 10%;
      margin: 0 auto;
      box-sizing: border-box;
      .skillLeft {
        .title {
          height: auto;
          span {
            font-size: 9vw;
          }
        }
      }
      .skillRight {
        .list {
          .listItem {
            div {
              width: 70%;
              padding: 2vw;
              svg {
                width: 13vw;
                font-size: 13vw;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .about {
    .section1 {
      gap: 20px;
      padding: 10%;
      .greetings {
        span {
          font-size: 12px;
        }
      }
    }
    .section2 {
      gap: 60px;
      width: 85%;
      .skillLeft {
        .title {
          span {
            font-size: 30px;
          }
        }
      }
      .skillRight {
        .list {
          .listItem {
            div {
              padding: 1vw;
              svg {
                width: 14vw;
                font-size: 14vw;
              }
            }
          }
        }
      }
    }
  }
}