@font-face {
  font-family: 'Thesignature Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Thesignature Regular'), url('Thesignature-OVx16.woff') format('woff');
}

@import url('https://fonts.cdnfonts.com/css/druk-trial');
/* 
  font-family: 'Druk Trial', sans-serif;
  font-family: 'Druk Text Trial', sans-serif;
  font-family: 'Druk Text Wide Trial', sans-serif;
  font-family: 'Druk Wide Trial', sans-serif;
  font-family: 'Druk Cond Trial', sans-serif;
  font-family: 'Druk XCond Trial', sans-serif;
  font-family: 'Druk XXCond Trial', sans-serif; 
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */

body,h1,h2,h3,p,img,button {
  margin: 0;
  padding: 0;
}

img {
  border:none;
  outline: none;
}

a {
  margin:0; 
  padding:0; 
  border:none; 
  outline:none; 
  text-decoration:none;
  &:active,&:link,&:visited,&:hover {
    color: #000000;
    text-decoration: none;
  }
}

ul {
  padding:0; 
  margin:0;
  list-style:none;
  li {
    display:block;
  }
}

input {
  &::placeholder,&::-webkit-input-placeholder {
    color: #ffffff;
  }
}

input[type=email] {
  outline:none;
  border: none;
  border-radius:0; 
  -moz-border-radius:0; 
  -webkit-border-radius:0;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}

button {
  border: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
  font-family: 'Druk Trial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .Thesignature {
    font-family: 'Thesignature Regular';
  }

  .inter {
    font-family: 'Inter', sans-serif;
  }
  
  span {
    word-break: keep-all;
  }

  main {
    width: 100%;
    height: calc(100vh - 70px);
  }
}
