$textColor: #333333;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 50px;
    background-color: #eaeaea;
    border-bottom: 1px solid #999999;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 20000;
    .logoBtn,.contactBtn {
        a {
            display: block;
            font-size: 25px;
        }
    }

    .contactBtn {
        padding-right: 27px;
    }

    .menu-icon {
        padding-left: 27px;
        .menu-line {
            height: 2px;
            margin: 0 auto;
            background-color: #000000;
        }
        .menu-line-1 {
            width: 40px;
            transition: width 0.1s 0.1s linear, transform 0.1s linear;
        }
        .menu-line-2 {
            width: 25px;
            margin-top: 5px;
            transition: width 0.1s 0.1s linear, transform 0.1s linear;
        }
        &.open {
            .menu-line {
                width: 30px;
                transition: width 0.1s linear;
            }
            .menu-line-1 {
                transform: rotate(45deg);
                transition: transform 0.1s 0.1s linear;
            }
            .menu-line-2 {
                margin-top: -2px;
                transform: rotate(-45deg);
                transition: transform 0.1s 0.1s linear;
            }
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    padding: calc(70px + 100px) 100px 100px 100px;
    background-color: #eaeaea;
    border-radius: 50%;
    position: fixed;
    left: 0;
    border-radius: 0;
    box-sizing: border-box;
    z-index: 11000;
    .menuLeft {
        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 80px;
            li {
                a {
                    text-shadow: -1px 0 $textColor, 0 2px $textColor, 2px 0 $textColor, 0 -1px $textColor;
                    transition: color 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
                    font-size: 3.6vw;
                    color: #eaeaea;
                    letter-spacing: 6px;
                    &:hover {
                        text-shadow: -1px 0 $textColor, 0 1px $textColor, 1px 0 $textColor, 0 -1px $textColor;
                        color: $textColor;
                    }
                }
            }
        }
    }
    .menuRight {
        width: 495px;
        ul{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            li {
                width: 74px;
                aspect-ratio: 1 / 1;
                background-color: #eaeaea;
                border-radius: 20%;
                box-shadow: 4px 4px 4px 4px #d5d5d5, -2px -2px 4px 2px rgba(255, 255, 255, 0.8);
                position: relative;
                img {
                    width: 100%;
                }
                &:hover {
                    &:before {
                        content: "Click";
                        display: inline-block;
                        width: 80px;
                        aspect-ratio: 1 / 1.2;
                        background-image: url('../../public/icon/speechBalloonIcon.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        text-align: center;
                        font-size: 20px;
                        line-height: 50px;
                        position: absolute;
                        bottom: 35%;
                        left: 70%;
                        z-index: 100;
                    }
                }
                &.click {
                    &:before {
                        content: "Copied";
                        display: inline-block;
                        width: 80px;
                        aspect-ratio: 1 / 1.2;
                        background-image: url('../../public/icon/speechBalloonIcon.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                        text-align: center;
                        font-size: 20px;
                        line-height: 50px;
                        position: absolute;
                        bottom: 35%;
                        left: 70%;
                        z-index: 100;
                    }
                }
            }
        }
    }
    &.open {
        top: 0;
        opacity: 1;
        transition: top 0.3s 0.3s linear, opacity 0.3s linear;
        .menuLeft, .menuRight {
            display: block;
        }
    }
    &.close {
        top: -100%;
        opacity: 0;
        transition: top 0.3s linear, opacity 0.3s 0.3s linear;
        .menuLeft, .menuRight {
            display: none;
        }
    }
}

@media screen and (max-width: 1280px) {
    .menu {
        &.open {
            display: block;
            .menuLeft {
                ul {
                    li {
                        a {
                            font-size: 45px;
                        }
                    }
                }
            }
            .menuRight {
                margin-top: 10vh;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 0 18px;
        .logoBtn,.contactBtn {
            a {
                font-size: 4.5vw;
            }
        }
    
        .contactBtn {
            padding-right: 5px;
        }

        .menu-icon {
            padding-left: 5px;
        }
    }

    .menu {
        &.open {
            height: 100%;
            padding: calc(70px + 9%) 9% 9% 9%;
            .menuLeft {
                ul {
                    gap: 15vw;
                    li {
                        a {
                            font-size: 6vw;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
            .menuRight {
                width: 100%;
                margin-top: 30vw;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    li {
                        width: 15%;
                        &:before {
                            content: "Click";
                            display: inline-block;
                            width: 100%;
                            aspect-ratio: 1 / 1;
                            background-image: url('../../public/icon/speechBalloonIcon.png');
                            background-size: contain;
                            background-repeat: no-repeat;
                            text-align: center;
                            font-size: 3vw;
                            line-height: 8vw;
                            position: absolute;
                            bottom: 55%;
                            left: 55%;
                            z-index: 100;
                        }
                        &:hover {
                            &:before {
                                width: 100%;
                                aspect-ratio: 1/1;
                                font-size: 3vw;
                                line-height: 8vw;
                                bottom: 55%;
                                left: 55%;
                                z-index: 100;
                            }
                        }
                        &.click {
                            &:before {
                                content: "Copied";
                                width: 100%;
                                aspect-ratio: 1/1;
                            }
                        }
                    }
                }
            }
        }
    }
}