$f1: #eaeaea;
$f2: #eeece5;
$bs: #bcbcbc;
$bor: #656565;
$bg: #eeece5;
$o: #fe4e01;
$expo: cubic-bezier(1, 0.885, 0.32, 1);

.list {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2.5vh 50px;
    box-sizing: border-box;
    .subTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50vh;
        text-align: center;
        .text {
            font-size: 90px;
            line-height: 1.5;
        }
    }
    .panel {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        height: 100vh;
        margin-bottom: 25vh;
        max-height: 75vh;
        position: relative;
        h2 {
            grid-area: 3 / 1 / 4 / 3;
            font-size: 64px;
            position: relative;
            z-index: 1;
        }
        .thumb {
            grid-area: 2 / 3 / 5 / 6;
            box-shadow: 0 0 0 2px $bs;
            position: relative;
            border-radius: 5px;
            * {
                border-radius: 5px;
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                .inner {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    z-index: 0;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: $f1;
                        mix-blend-mode: lighten;
                        opacity: 0.3;
                        z-index: 2;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        mix-blend-mode: overlay;
                        filter: saturate(0) blur(calc(50px - (var(--progress) * 125px)))
                                brightness(1) contrast(4);
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 5%;
                    top: 5%;
                    box-shadow: 0 0 0 2px $bor, 0 0 0 0 $bg, 0 0 0 0 $o;
                    transition: transform 0.2s $expo, box-shadow 0.2s $expo;
                    transition-delay: 0.2s, 0s;
                    background: radial-gradient(
                          circle at center,
                          $bor 1px,
                          rgba(255, 255, 255, 0.005) 1px,
                          rgba(255, 255, 255, 0.005) 20px
                        )
                        0px 0px / 20px 20px,
                      radial-gradient(
                          circle at center,
                          $bor 1px,
                          rgba(255, 255, 255, 0.005) 1px,
                          rgba(255, 255, 255, 0.005) 20px
                        )
                        10px 10px / 20px 20px;
                    border-radius: 5px;
                }
                &:hover {
                    &:before {
                        transform: translate(-5%, -5%);
                        box-shadow: 0 0 0 2px $bor, 0 0 0 6px $bg, 0 0 0 8px $o;
                        transition-delay: 0s, 0.2s;
                    }
                }
            }
            &:after {
                content: "";
                position: absolute;
                width: 50%;
                height: calc(100% + 25vh);
                left: 0%;
                top: 100%;
                border-style: dashed;
                border-width: 2px 2px 2px 2px;
                border-color: transparent $bor $bor transparent;
                border-radius: 0 0 10px 0;
                opacity: 0.25;
            }
        }
        &:before {
            content: attr(data-key);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 40%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 400px;
            color: transparent;
            -webkit-text-stroke: 2px $bor;
            line-height: 1;
            opacity: 0.25;
            transition: 1.75s ease-in-out;
        }
        &:nth-of-type(even) {
            &:before {
                left: auto;
                right: 0;
                justify-content: flex-end;
            }
            h2 {
                text-align: right;
                grid-area: 3 / 4 / 4 / 6;
            }
            .thumb {
                grid-area: 2 / 1 / 5 / 4;
                &:after {
                    transform: scaleX(-1);
                    left: 50%;
                }
                a {
                    &:before {
                        left: -5%;
                        top: -5%;
                    }
                    &:hover {
                        &:before {
                            transform: translate(5%, 5%);
                        }
                    }
                }
            }
        }
        &:last-of-type {
            margin-bottom: 0;
            .thumb {
                &:after {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1350px) {
    .list {
        width: 85vw;
        .subTitle {
            .text {
                font-size: 70px;
                line-height: 1.5;
            }
        }
        .panel {
            h2 {
                grid-area: 1 / 1 / 2 / 6;
                padding: 2vw;
                font-size: 54px;
            }
            .thumb {
                grid-area: 2 / 1 / 5 / 6;
                a {
                    .inner {
                        &:before {
                            opacity: 0.9;
                        }
                    }
                }
            }
            &:nth-of-type(even) {
                h2 {
                    grid-area: 1 / 1 / 2 / 6;
                    padding: 2vw;
                }
                .thumb {
                    grid-area: 2 / 1 / 5 / 6;
                }
            }
        }
    }
}

@media screen and (max-width: 610px) {
    .list {
        width: 100vw;
        .subTitle {
            .text {
                font-size: 30px;
            }
        }
        .panel {
            &:before {
                display: none;
            }
            h2 {
                font-size: 24px;
            }
        }
    }
}