.list {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    .category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 70px);
        .subTitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: sticky;
            top: 170px;
            .text {
                font-size: 150px;
                line-height: 0.9;
            }
            .scroll{
                padding-top: 40px;
                font-size: 30px;
            }
        }
    }
    .list_con { 
        padding: 100px 0;
        .cityBg {
            width: 100%;
            img {
                width: 100%;
            }
        }   
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                flex-basis: 33.33%;
                aspect-ratio: 16 / 9;
                padding: 20px;
                border-left: 1px solid #999999;
                border-bottom: 1px solid #999999;
                position: relative;
                box-sizing: border-box;
                &:nth-child(3n), &:last-child {
                    border-right: 1px solid #999999;
                }
                &:nth-child(-n+3) {
                    border-top: 1px solid #999999;
                }
                &:hover {
                    .listBg {
                        opacity: 0.1;
                    }
                }
                .listBg {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    object-fit: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    img {
                        width: 100%;
                        height: 100%;
                        filter: grayscale(80%);
                    }
                }
                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .listTitle {
                        display: flex;
                        justify-content: space-between;
                        span {
                            font-size: 24px;
                            font-weight: 600;
                        }
                    }
                    .listDescription {
                        margin-top: 20px;
                        span {
                            font-size: 1.3dvh;
                            font-weight: 500;
                            word-break: keep-all;
                        }
                    }
                }
            }
        }
    }
}