$rotationDuration: 20s;
$hoverDuration: 0.3s;

$easeIn: cubic-bezier(0.32, 0, 0.67, 0);
$easeOut: cubic-bezier(0.33, 1, 0.68, 1);

$textColor: #2B3338;

.main_page {
    overflow: hidden;
}

.main {
    height: 100%;
    .mainBg{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        z-index: 10000;
        span {
            font-size: 150px;
            line-height: 0.9;
            text-shadow: 4px 4px 2px #ffffff;
        }
    }

    .image {
        width: 20vmin;
        position: absolute;
        transform: translate(-50%, -50%);
        &[data-status="inactive"] {
            display: none;
        }
        &[data-status="active"] {
            display: block;
        }
    }

    .btn {
        width: 10rem;
        height: 10rem;
        display: inline-block;
        font-size: 1.55rem;
        line-height: 1.4;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.1175em;
        word-spacing: 0.3em;
        text-decoration: none;
        position: absolute;
        bottom: 3%;
        right: 3%;
        z-index: 10000;
        .link__svg {
            width: 100%;
            height: auto;
            transform-box: fill-box;
            fill: $textColor;
            stroke: $textColor;
            stroke-width: 0.05em;
            stroke-linecap: round;
            stroke-linejoin: round;
            .link__arrow {
                text-shadow: 4px 4px 2px #ffffff;
                transform-origin: 50% 50%;
                transition: transform $hoverDuration / 2 $easeIn;
            }
            .link__text {
                text-shadow: 1px 2px 2px #ffffff;
                animation: rotateReverse normal infinite $rotationDuration linear;
                transform-origin: 50% 50%;
            }
        }

        &:hover {
            .link__arrow {
                transform: scale(1.1);
                transition: transform $hoverDuration $easeOut;
            }
            .link__text {
                animation-play-state: paused;
            }
        }
    }
}

@keyframes rotate {
	to {
    	transform: rotate(360deg);
    }
}

@keyframes rotateReverse {
	to {
    	transform: rotate(-360deg);
    }
}