$rotationDuration: 20s;
$hoverDuration: 0.3s;

$easeIn: cubic-bezier(0.32, 0, 0.67, 0);
$easeOut: cubic-bezier(0.33, 1, 0.68, 1);

$textColor: #2B3338;

.main_page {
    overflow: hidden;
}

.main {
    height: calc(100vh - 70px);
    .mainBg{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        position: relative;
        z-index: 10000;
        span {
            font-size: 90px;
            line-height: 1.8;
            text-shadow: 4px 4px 2px #ffffff;
            .mainText2 {
                letter-spacing: 47px;
            }
            .mainText3 {
                letter-spacing: 30px;
            }
        }
    }

    .image {
        width: 20vmin;
        position: absolute;
        transform: translate(-50%, -50%);
        &[data-status="inactive"] {
            display: none;
        }
        &[data-status="active"] {
            display: block;
        }
    }
}

@media screen and (max-width: 1200px) {
    .main {
        .mainBg{
            span {
                font-size: 55px; 
                line-height: 1.5;
                .mainText2 {
                    letter-spacing: 28.5px;
                }
                .mainText3 {
                    letter-spacing: 19px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        .mainBg{
            span {
                font-size: 25px;
                line-height: 1.5;
                text-shadow: 4px 4px 2px #ffffff;
                .mainText2 {
                    letter-spacing: 12.8px;
                }
                .mainText3 {
                    letter-spacing: 8px;
                }
            }
        }
    }
}